.editor {
  min-height: 800px;
  height: calc(100% - 16px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  padding: 8px 4px;
}

.editor .columns {
  margin-left: 1%;
}

.editor .select-panel {
  display: block;
  height: 100%;
}

.editor .canvas-panel {
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4px;
}

.editor .canvas-panel > .page > .drag-drop-zone:empty{
  border: none;
}

.editor .canvas-panel > *:nth-child(1) {
  height: 100%;
}

.editor .canvas-panel input {
  pointer-events: none;
}

.editor .canvas-panel .sortable-ghost {
  height: 1px;
  width: 100%;
  overflow: hidden;
  background-color: red;
}

.editor .canvas-panel .sortable-ghost *{
  display: none;
}

.drag-item {
  font-size: 14px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 2px;
  width: 46%;
  margin: 8px 4px;
  font-weight: bold;
  text-transform: capitalize;
}

.drag-drop-zone {
  border: 1px solid transparent;
  height: 100%;
  min-height: 40px;
}


.drag-drop-zone:empty {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  flex-grow: 1;
}

.drag-drop-zone:empty.drag-drop-zone::after {
  content: "Please Drop Widget Here.";
  font-size: 20px;
  color: #616161;
  margin: auto;
}

.drag-drop-item:empty {
  flex-grow: 1;
}
